# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DEMETER_LEFT

config ZMK_KEYBOARD_NAME
    default "Demeter"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DEMETER_LEFT || SHIELD_DEMETER_RIGHT

config ZMK_SPLIT
    default y

endif
