# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DEMETER_LEFT
    def_bool $(shields_list_contains,demeter_left)

config SHIELD_DEMETER_RIGHT
    def_bool $(shields_list_contains,demeter_right)
