# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CRAD_LEFT

config ZMK_KEYBOARD_NAME
    default "Crad"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRAD_LEFT || SHIELD_CRAD_RIGHT

config ZMK_SPLIT
    default y

endif
